# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importing data

In [2]:
imdb_title = pd.read_csv('Data/imdb.title.principals.csv.gz')
imdb_crew = pd.read_csv('Data/imdb.title.crew.csv.gz')
rating = pd.read_csv('Data/imdb.title.ratings.csv.gz')

# nate's 3 dfs
title_basics_imdb = pd.read_csv('Data/imdb.title.basics.csv.gz')
akas_imdb = pd.read_csv('Data/imdb.title.akas.csv.gz')
name_basics_imdb = pd.read_csv('Data/imdb.name.basics.csv.gz')

# Nina's Data
tn_cleaned = pd.read_csv('Data/tn_cleaned.csv')
tndb_cleaned = pd.read_csv('Data/tmdb_cleaned.csv')
cleaned_bom = pd.read_csv('Data/cleaned_bom.csv')

In [4]:
akas_imdb.rename(columns = {'title_id':'tconst'}, inplace = True)

In [5]:
name_basics_imdb.drop(['death_year'], axis = 1, inplace=True)
name_basics_imdb.drop(['birth_year'], axis = 1, inplace=True)

In [19]:
tn_cleaned['movie'] = tn_cleaned['movie'].apply(lambda x: x.lower())
tndb_cleaned['original_title'] = tndb_cleaned['original_title'].apply(lambda x: x.lower())
cleaned_bom['title'] = cleaned_bom['title'].apply(lambda x: x.lower())
title_basics_imdb['primary_title'] = title_basics_imdb['primary_title'].apply(lambda x: x.lower())
akas_imdb['title'] = akas_imdb['title'].apply(lambda x: x.lower())
akas_imdb['region'].value_counts()

US      51490
XWW     18467
RU      13817
DE      11634
FR      10990
        ...
SB          1
CSHH        1
BUMM        1
XNA         1
LS          1
Name: region, Length: 213, dtype: int64

In [8]:
# imdb_title['nconst'].nunique(), names['nconst'].nunique()
nconst_merge = imdb_title.merge(name_basics_imdb, on = 'nconst')
imdb_title.isna().sum()

tconst             0
ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64

In [9]:
# nconst_merge['nconst'] = name_basics_imdb['primary_name']
nconst_merge.isna().sum()

tconst                     0
ordering                   0
nconst                     0
category                   0
job                   850228
characters            634741
primary_name               0
primary_profession     53646
known_for_titles       30467
dtype: int64

In [10]:
nconst_merge.dropna(subset = ['nconst'], inplace = True)
nconst_merge.isna().sum()

tconst                     0
ordering                   0
nconst                     0
category                   0
job                   850228
characters            634741
primary_name               0
primary_profession     53646
known_for_titles       30467
dtype: int64

In [13]:
nconst_merge

,tconst,ordering,nconst,category,job,characters,primary_name,primary_profession,known_for_titles
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]",Tommy Dysart,actor,"tt0093120,tt0076974,tt0084296,tt0077064"
1,tt0111414,2,nm0398271,director,NaN,NaN,Frank Howson,"actor,writer,producer","tt0104271,tt0094789,tt0102076,tt0111414"
2,tt5573596,5,nm0398271,director,NaN,NaN,Frank Howson,"actor,writer,producer","tt0104271,tt0094789,tt0102076,tt0111414"
3,tt0111414,3,nm3739909,producer,producer,NaN,Barry Porter-Robinson,"producer,art_department","tt0290884,tt0101374,tt0111414,tt1566940"
4,tt0323808,10,nm0059247,editor,NaN,NaN,Sean Barton,"editor,editorial_department,assistant_director","tt0402910,tt1022883,tt0086190,tt0490181"
...,...,...,...,...,...,...,...,...,...
1027907,tt9689618,3,nm10439724,actor,NaN,NaN,Phillippe Warner,NaN,NaN
1027908,tt9689618,5,nm10439725,director,NaN,NaN,Xavi Herrero,"director,writer,cinematographer",tt9689618
1027909,tt9692684,3,nm10441594,director,NaN,NaN,Guy Jones,director,NaN
1027910,tt9692684,4,nm6009913,writer,writer,NaN,Sabrina Mahfouz,writer,"tt5191128,tt3254170,tt2319282,tt8452302"
1027911,tt9692684,5,nm10441595,producer,producer,NaN,Simmer Dim,producer,tt9692684

In [14]:
merged_data = nconst_merge.merge(imdb_crew, on = 'tconst').merge(rating, on = 'tconst').merge(title_basics_imdb, on = 'tconst').merge(akas_imdb, on = 'tconst')
merged_data

,tconst,ordering_x,nconst,category,job,characters,primary_name,primary_profession,known_for_titles,directors,...,start_year,runtime_minutes,genres,ordering_y,title,region,language,types,attributes,is_original_title
0,tt5573596,5,nm0398271,director,NaN,NaN,Frank Howson,"actor,writer,producer","tt0104271,tt0094789,tt0102076,tt0111414",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
1,tt5573596,4,nm0000476,actress,NaN,NaN,Sally Kirkland,"actress,producer,miscellaneous","tt0315327,tt0092569,tt3216866,tt0102138",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
2,tt5573596,7,nm0001445,actor,NaN,NaN,Martin Landau,"actor,producer,miscellaneous","tt0096316,tt0097123,tt0109707,tt0053125",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
3,tt5573596,1,nm0000925,actor,NaN,NaN,Steven Berkoff,"actor,writer,director","tt0086034,tt0086960,tt1243957,tt0066921",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
4,tt5573596,3,nm0121007,actor,NaN,NaN,Eric Burdon,"soundtrack,actor,composer","tt1478964,tt0443706,tt0118749,tt1408253",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422861,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,1,wszystko z nami w porządku,PL,NaN,NaN,NaN,0.0
2422862,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,2,wszystko z nami w porzadku,NaN,NaN,original,NaN,1.0
2422863,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,3,мы в порядке,RU,NaN,NaN,NaN,0.0
2422864,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,4,we are alright,US,NaN,NaN,literal English title,0.0
2422865,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,5,we are alright,XWW,en,NaN,literal English title,0.0

In [15]:
merged_data_cleaned = merged_data.loc[(merged_data['start_year'] >= 2015) & (merged_data['start_year'] <= 2018)]

In [16]:
merged_data_cleaned

,tconst,ordering_x,nconst,category,job,characters,primary_name,primary_profession,known_for_titles,directors,...,start_year,runtime_minutes,genres,ordering_y,title,region,language,types,attributes,is_original_title
0,tt5573596,5,nm0398271,director,NaN,NaN,Frank Howson,"actor,writer,producer","tt0104271,tt0094789,tt0102076,tt0111414",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
1,tt5573596,4,nm0000476,actress,NaN,NaN,Sally Kirkland,"actress,producer,miscellaneous","tt0315327,tt0092569,tt3216866,tt0102138",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
2,tt5573596,7,nm0001445,actor,NaN,NaN,Martin Landau,"actor,producer,miscellaneous","tt0096316,tt0097123,tt0109707,tt0053125",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
3,tt5573596,1,nm0000925,actor,NaN,NaN,Steven Berkoff,"actor,writer,director","tt0086034,tt0086960,tt1243957,tt0066921",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
4,tt5573596,3,nm0121007,actor,NaN,NaN,Eric Burdon,"soundtrack,actor,composer","tt1478964,tt0443706,tt0118749,tt1408253",nm0398271,...,2015,NaN,Comedy,1,remembering nigel,AU,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422861,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,1,wszystko z nami w porządku,PL,NaN,NaN,NaN,0.0
2422862,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,2,wszystko z nami w porzadku,NaN,NaN,original,NaN,1.0
2422863,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,3,мы в порядке,RU,NaN,NaN,NaN,0.0
2422864,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,4,we are alright,US,NaN,NaN,literal English title,0.0
2422865,tt7573790,7,nm9547216,self,NaN,"[""Himself""]",Rafal Zaremba,NaN,NaN,nm9232479,...,2018,64.0,Documentary,5,we are alright,XWW,en,NaN,literal English title,0.0

In [ ]:
merged_data_cleaned.columns

In [ ]:
merged_data_cleaned.info()

In [ ]:
good_films = merged_data_cleaned[(merged_data_cleaned['averagerating'] > 8) & (merged_data_cleaned['numvotes'] > 500)]
good_films.head(2)

In [ ]:
fig, ax = plt.subplots(figsize = (15,5))

x = good_films.groupby('genres').averagerating.mean().sort_values(ascending = False)[:10].index
y = good_films.groupby('genres').averagerating.mean().sort_values(ascending = False)[:10].values

ax.bar(x,y)

ax.set_xlabel('Genre')
ax.set_ylabel('Average Rating of Genre(s)')
ax.set_title('Genre vs Rating')
ax.set_xticklabels(x, rotation = 90);

In [ ]:
good_films.sample(5)

In [ ]:
directors = good_films[good_films['category'] == 'director']
directors.head()

In [ ]:
fig, ax = plt.subplots(figsize = (15,5))

x = directors.groupby('primary_name').averagerating.mean().sort_values(ascending = False)[:20].index
y = directors.groupby('primary_name').averagerating.mean().sort_values(ascending = False)[:20].values

ax.bar(x,y)
ax.set_xlabel('Director Name')
ax.set_xticklabels(x, rotation = 90)
ax.set_ylabel("Average Rating of Director's movies");